{% extends 'mcdonalds/base2.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	{% for mc in mcs %}
	            <div class= 'ini'>	            	
	                <center><h3><p>Publicado em:{{ mc.datapublicacao }}</p></h3><center>
	                <center><h1><bold><a href="{{ mc.get_absolute_url }}">{{ mc.titulo }}</a></bold></h1></center>
	                <center><img>{% cloudinary mc.imagem %}</center>
	                <center><p><h2>{{ mc.apresentacao }}</h2></p></center>
	                <br>
	                <br>
	            </div>
	{% endfor %}
	{% for ticket in tickets %}
		<center><div class= 'ticket'>
					<br>
					<br>
					<p><h2><br>{{ ticket.apresentacao }}<br><br></h2></p>
	                <center><img>{% cloudinary ticket.imagem %}</center>
	                <br>
	                <br>
	                <center><h1><bold><a href="{{ ticket.get_absolute_url }}">{{ ticket.titulo }}</a></bold></h1></center>
	                <img src="{% static 'images/logo3.png' %}" alt="logo3"/>
	                <br>
	                <br>
	   </center></div>
	{% endfor %}
	<br>
    <br>
    <br>
    <br>
{% endblock %}


