{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	<div class="imagem">
		<center><img src="{% static 'images/bairro.png' %}" alt="Bairro Nova Botucatu!"></center>
	</div>
	<center><p><h1>Lojas disponíveis:<br>Bairro</h1></p></center>
	<div class='tabela'>
		<table border="5">
			<center>
				<tr>
					<td><b><h1>Nome da empresa</h1></b></td>
					<td><b><h1>Um pouco sobre</h1></b></td>
					<td><b><h1>Link</h1></b></td> 
				</tr>
				<tr>
					<td><h2>Pastel do Português</td>
					<td><h2>Um lugar onde há a preocupação com a qualidade da massa, do recheio, do atendimento e com a localização. Você e sua família são, e sempre serão bem vindos aqui.</td>
					<td><a href="{% url 'pastel:pastel' %}"><img src="{% static 'images/pastel2.png' %}" alt="Pastel do Português"></td>
				</tr>
			</center>
		</table>
	</div>
{% endblock %}
