{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	<div class="imagem">
		<center><img src="{% static 'images/centro.png' %}" alt="Centro de Botucatu!"></center>
	</div>
	<center><p><h1>Lojas disponíveis:<br>Centro</h1></p></center>
	<div class='tabela'>
		<table border="5">
			<center>
				<tr>
					<td><b><h1>Nome da empresa</h1></b></td>
					<td><b><h1>Um pouco sobre</h1></b></td>
					<td><b><h1>Link</h1></b></td> 
				</tr>
				<tr>
					<td><h2>Su modas</td>
					<td><h2>Preciso criar este app.</td>
					<td><a href="{% url 'acai:acai' %}"><img src="{% static 'images/acai.ico' %}" alt="Açaí do Centro"></td>
				</tr>
			</center>
		</table>
	</div>	
{% endblock %}
	