{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	<div class='imagem'>
		<center><img src="{% static 'images/domlucio.png' %}" alt="Av. DomLucio!"></center>
	</div>
	<center><p><h1>Lojas disponíveis:<br>Av. Dom Lucio</h1></p></center>
	<div class='tabela'>
		<table border="5">
			<center>
				<tr>
					<td><b><h1>Nome da empresa</h1></b></td>
					<td><b><h1>Um pouco sobre</h1></b></td>
					<td><b><h1>Link</h1></b></td> 
				</tr>
		



{% endblock %}