{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	<div class='imagem'>
		<center><img src="{% static 'images/catedral.jpg' %}" alt="A catedral da cidade!"></center>
	</div>
	<center><p><h1>Lojas disponíveis:</h1></p></center>
	<div class='lojas'>
		<center><p><h2>Mozix & Comix</p><a href="{% url 'mozix:mozix' %}"><button>Entrar</button></h2></center>

		<!-- Fazer aqui um layout pra exibir a loja petmania, do Tonhão, assim como depois em outra página a loja do Mozi -->
{% endblock %}