{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script>
		$(function () {
    		var parent = $("#shuffle");
    		var divs = parent.children();
    		while (divs.length) {
        		parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
    		}
		});
		</script>

	<div class='publicacao'>
		{% for post in posts %}
			<br>
	        <center><h3><p>Publicado em:{{ post.postado }}</p></h3><center>
	        <center><h2>{{ post.nome }}</h2></center>
	        <center><img>{% cloudinary post.foto %}</center>
	        <center><p><h2>{{ post.apresentacao }}</h2></p></center>
	        <br>
	    {% endfor %}
	</div>	

<!-- Toda nova empresa deve ser jogada aqui, dentro de shuffle, para poder ser exibida na tela inicial -->
	<div id="shuffle">
		<div class='ini'>
		<center><h1><i><br><a href="{% url 'petmania:petmania' %}">Petmania - Vital Brasil</a><br></i></h1></center>
			{% for petmania in petmanias %}
	                
	                <br>
	                <center><h3><p>Publicado em:{{ petmania.datapublicacao }}</p></h3><center>
	                <center><h2>{{ petmania.titulo }}</h2></center>
	                <center><img>{% cloudinary petmania.imagem %}</center>
	                <center><p><h2>{{ petmania.apresentacao }}</h2></p></center>
	                <br>
	                
	        {% endfor %}
	        <br>
	        <br>
	    </div>



		
		<div class='ini2'>
		<center><h1><i><br><a href="{% url 'mozix:mozix' %}">Mozix & Comix - Av. Dom Lucio</a><br></i></h1></center>
			{% for mozi in mozis %}
			    
			        <br>
			        <center><h3><p>Publicado em:{{ mozi.datapublicacao }}</p></h3><center>
			        <center><h2>{{ mozi.titulo }}</h2></center>
			        <center><img>{% cloudinary mozi.imagem %}</center>
			        <center><p><h2>{{ mozi.apresentacao }}</h2></p></center>
			        <br>
			            
			{% endfor %}
			<br>
			<br>
		</div>

		<div class='ini'>
		<center><h1><i><br><a href="{% url 'mc:mcdonalds' %}">McDonalds - Av. Vital Brasil</a><br></i></h1></center>
			{% for mc in mcs %}
			    
			        <br>
			        <center><h3><p>Publicado em:{{ mc.datapublicacao }}</p></h3><center>
			        <center><h2>{{ mc.titulo }}</h2></center>
			        <center><img>{% cloudinary mc.imagem %}</center>
			        <center><p><h2>{{ mc.apresentacao }}</h2></p></center>
			        <br>
			            
			{% endfor %}
			<br>
			<br>
		</div>
		
		<div class='ini2'>
			<center><h1><i><br><a href="{% url 'acai:acai' %}">Açaí do Centro - Centro</a><br></i></h1></center>
				{% for acai in acais %}
				    
				        <br>
				        <center><h3><p>Publicado em:{{ acai.datapublicacao }}</p></h3><center>
				        <center><h2>{{ acai.titulo }}</h2></center>
				        <center><img>{% cloudinary acai.imagem %}</center>
				        <center><p><h2>{{ acai.apresentacao }}</h2></p></center>
				        <br>
				            
				{% endfor %}
				<br>
				<br>
			</div>
		</div>
	</div>


{% endblock %}