{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	<div class='imagem'>
		<center><img src="{% static 'images/vital.png' %}" alt="Av. Vital Brasil!"></center>
	</div>
	<center><p><h1>Lojas disponíveis:<br>Vital Brasil</h1></p></center>
	<div class='tabela'>
		<table border="5">
			<center>
				<tr>
					<td><b><h1>Nome da empresa</h1></b></td>
					<td><b><h1>Um pouco sobre</h1></b></td>
					<td><b><h1>Link</h1></b></td> 
				</tr>
			
				<tr>
					<td><h2>Sandubas Lanches</h2></td>
					<td><h2>Breve descrição da loja!</h2></td>
					<td><a href="{% url 'sandubas:sandubas' %}"><img src="{% static 'images/sandubas.ico' %}" alt="sandubas!"></td>
				</tr>

				<tr>
					<td><h2>Açaí da Vital</td>
					<td><h2>Editar com Amor e Carinho</td>
					<td><a href="{% url 'acai:acai' %}"><img src="{% static 'images/acai.ico' %}" alt="Açaí da Vital"></td>
				</tr> 
			</center>
		</table>
	</div>
{% endblock %}
