{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	<div class='imagem'>
		<center><img src="{% static 'images/vital.png' %}" alt="Av. Vital Brasil!"></center>
	</div>
	<center><p><h1>Lojas disponíveis:<br>Vital Brasil</h1></p></center>
	<div class='tabela'>
		<table border="5">
			<center>
				<tr>
					<td><b><h1>Nome da empresa</h1></b></td>
					<td><b><h1>Um pouco sobre</h1></b></td>
					<td><b><h1>Link</h1></b></td> 
				</tr>
			
				<tr>
					<td><h2>Petmania</td>
					<td><h2>nde seu bichinho de estimação terá tudo o que precisa para se divertir, ser educado e um bom amigo. Além de, é claro, os melhores alimentos para seu melhor amigo.</td>
					<td><a href="{% url 'petmania:petmania' %}"><img src="{% static 'images/petmania.ico' %}" alt="Cachorro loko!"></td>
				</tr>

				<tr>
					<td><h2>Mozix & Comix</h2></td>
					<td><h2>Comer agora é mais divertido, traga seu companheiro ao Mozix e Comix e desfrute do primeiro lugar da cidade a oferecer o cardápio duplo !</h2></td>
					<td><a href="{% url 'mozix:mozix' %}"><img src="{% static 'images/mozix.ico' %}" alt="comida!"></td>
				</tr>

				<tr>
					<td><h2>AÇAÍ & CUPUAÇU</td>
					<td><h2>O açaí já virou febre, mas aqui na Açaí & Cupuaçu elevamos o nível e oferecemos a você combinações que não verá em qualquer outro lugar !.</td>
					<td><a href="{% url 'acai:acai' %}"><img src="{% static 'images/acai.ico' %}" alt="Açaí do Centro"></td>
				</tr> 
			</center>
		</table>
	</div>
<!--Fazer uma tabela pra colocar as lojas aqui dentro, seguindo meu esboço -->
{% endblock %}

<!-- <center><p><h2>Petmania</p><a href="{% url 'petmania:petmania' %}"><button>Entrar</button></h2></center> -->