body{
	background: lightblue; 
	/*background-color: #000; */
	background-attachment: fixed;
	min-height: 100%;
  	height: auto;
  	position: relative;
  	margin: 0;
  	top: 0;
  	left: 0;
}
.opener {
  background: linear-gradient(white, black);
  color: #eee;
  text-align: center;
  border-top: 100px;
  border-left: 100vw;
}
/*
.opener::after {
  display: block;
  content: "";
  border-top: 100px solid #333;
  border-left: 100vw solid transparent;
  background-color: lightblue;
}
*/
table{
	position: relative;
    margin: 10px auto;
    padding: 0;
    width: 90%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
}
.btns{
	float: center;
}

.btn1{
	background: linear-gradient(white, black);
	border-radius: 30%;
	border-color: black;
	color: white;
	width: 100%;
	height: 70px;
}
.btn1:hover {
	background: linear-gradient(black, white);
	text-decoration: none;
	color: white;
	width: 100%;
	height: 70px;
}

.btn2{
	background: linear-gradient(white, black);
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn2:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}

.btn3{
	background: linear-gradient(white, black);
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn3:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}

.btn4{
	background: linear-gradient(white, black);
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
.btn4:hover {
	background-color: #D9D6CF;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 70px;
}

.imagem img{
	border-radius: 30%;
}

.ini img{
	max-width: 50%;
	max-height: 50%;
	border-radius: 100%;
	margin:0 auto;	
	border-style: dotted;
	border-width: 5px;
	float: top;
	overflow: auto;
}

.post img{
	border-radius: 30%;
	display: block;
	max-width: 80%;
	height: auto;
}
h1{
	font-family: 'Luckiest Guy', cursive;
}
.btns h1{
	padding-left: 8%;
}

div.rodape{
	border-top: 20px solid transparent;
	border-right: 20px solid red;
	border-bottom: 40px solid transparent;
    border-left: 20px solid red; 

 }
div.rodape button{
	background-color: #A9A9A9;
	border-radius: 30%;
	border-color: black;
	color: black;
	width: 100%;
	height: 70px;
}
footer{
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 100%;
	left: 0;
}