{% extends 'sandubas/base2.html' %}
{% load cloudinary %}
{% block content %}
<!-- Compartilhar -->
<div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhe</a></div>
<!-- Curtir -->
<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    <div class="post">
        {% if post.datapublicacao %}
            <div class="date">
                <center><h3><b>{{ post.datapublicacao }}</b></h3></center>
            </div>
        {% endif %}
        <center><p><h1>{{ post.titulo }}</h1></p></center>
        <center><img>{% cloudinary post.imagem %}</img></center>
        <center><p><h2>{{ post.apresentacao|linebreaksbr }}</h2></p></center>
    </div>
    <footer>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="2"></div>
    </footer>
{% endblock %}